@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #0b0b0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist: var(--font-geist-sans);
  --font-noto: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}
